# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven output and build
target
test-output
.class

# Framework generated
log

# Eclipse project files
.project
.settings
.classpath

# IDEA project files
.idea
*.iml

# MacOS files
.DS_Store

# Extent
*.html
